:root {
  --color-primary: #0A0032;
  --color-secondary: #2E2844;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  display: flex;
  height: calc(100vh - 66px);
}

.content {
  z-index: -2;
}